/config.py
/apilogs.log

/.DS_Store
/__pycache__/
/tlx/

/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Total Logistix Integration.iml
/.idea/vcs.xml
/CUsersdavidb.GARRISONDownloadsTL Orders.csv
